#blog{
    margin: 20px auto;
    width: 80%;
    border: 20px solid #bdc3c7;
    padding: 15px;
    font-family: 'source Sans Pro', sans-serif;
    max-width: 700px;
}

#blog h2{
    font-size: 2rem;
}
#blog .quote{
    border-left: 5px solid #bdc3c7;
    padding-left: 5px
}
#blog .date{
    color: #5096d3;
    text-transform: uppercase;
    letter-spacing: 0.2rem
}
#blog hr{
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-left: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(255,255,255,0.1);
}
